/* Page basics */
body {
    background-color: rgb(252, 156, 172);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
h1 {
    color: rgb(136, 27, 78);
    margin: 20px 0;
    font-size: 40px;
}

/* Small header images */
.sticker {
    width: 50px;
}

/* Decorative GIFs */
.decor {
    width: 120px;
    margin: 5px;
}

/* Section titles */
h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(136, 27, 78);
}

/* Paragraph style */
p {
    font-size: 18px;
    margin: 10px auto 20px auto;
    width: 70%;
}

/* Profile picture */
img[src="stewie.png"] {
    border-radius: 10px;
    margin-top: 10px;
}

/* Simple 3-column grid */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(136, 27, 78);
    padding: 10px;
    gap: 10px;
    width: 80%;
    margin: auto;
}

/* Grid boxes */
.container div {
    background-color: rgb(252, 156, 172);
    color: black;
    padding: 15px;
    font-size: 24px;
    border: 1px solid black; /* beginner style */
}
