/* hello test */
body {
    background-color: rgb(252, 156, 172);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header style */
h1 {
    color: rgb(136, 27, 78);
    margin-left: 20px;
}

.sticker {
    width: 50px;
}

.decor {
    width: 120px;
    margin: 0 5px; 
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  gap: 20px;
  background-color: rgb(252, 156, 172);
}

.container div {
  background-color: rgb(136, 27, 78);
  color: white;              
  width: 250px;             
  padding: 20px;
  text-align: center;  
  font-size: 16px;          
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.container h2 {
  font-size: 22px;
  margin-top: 0;
  color: #ffd0e1;      
}
